.Navbar{
  position:fixed;
  display:flex;
  background-color:#161E67;
  color:#eee;
  height:100px;
  width:100%;
  align-items:center;
  justify-content: space-between;
  z-index:0;
}
.Navbar_content{
  display:flex;
  justify-content:space-between;
  text-decoration:none;
}

.Navbar_contents{
  display:block;
  list-style:none;
}

.Navbar_logo{
  margin-top:1%;
  
}

.Navbar_price{
  display:flex;
  width:20%;
  height:100%;
  text-align:cetner;
  line-height:100px;
  align-items:center;
  
}

.Navbar_detail{
  margin-left:20px;
  text-align:center;
}

.user_id{
  position:relative;
  position:fixed;
  right:3%;
  top:5%;
  z-index:10;
  color:#eee;
}



.table_row tr{
  justify-content:center;
  align-items:center;
}

.img_box {
  width:100%;
  height:100%;
}



.img_container{
  width:100px;
  height:100px;
}

.img_main{
  object-fit:cover;
  width:50px;
  height:50px;
}

.img_box{
  width:50px;
  height:50px;
}
.img_content{
  object-fit:cover;
  width:100%;
  height:100%;
}

.footer_logo{
  object-fit:cover;
  width:100%;
  height:100%;
}

.container {
  height:100%;
  width:100%;
  padding: 0 2rem;
  background-color:#0f0a31;
  color:#eee;
  transition:all 0.5s
}

.link_button{
  border:none;
}

.table_container{
  background-color:#eee;
  background-color:rgba(255,255,255,0.1);
  border-radius:10px;
  margin-top:1%;
  margin-left:5%;
  margin-right:5%;
  padding:20px;
  box-shadow:1px 1px 1px 1px #eee;
}
.table_header{
  text-align:center;
  font-size:32px;
}
.spinner{
  width:50%;
  height:50%;
  margin:auto;
}

.modal{
  position:fixed;
  width:100%;
  height:100%;
  z-index:10;
}

.main {
  height: 100%;
  width:100%;
  padding: 150px 0 0 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:#0f0a31;
  color:#eee;
}

.footer {
  height:5%;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  
  align-items: center;
  background-color:#161E67;
  border:none;
  color:#eee;
}

.footer_upper_content{
  width:80px;
  border-radius:50px;
  margin:0% 1%;
  align-items:center;
  line-height:80px;
  object-fit:cover;
  display:block;
}

.footer_upper{
  display:flex;
  justify-content: right;
  align-items:center;
}

.footer_lower{
  
  display:flex;
  justify-content: right;
}

.footer_lower_content{
  margin-right:5%;
  margin-top:1%;
}

.footer_content_container{
  width:6%;
  
}
.footer_boundary1{
  height:50px;
  width:50px;
  background-color:#eee;
  border-radius:100%;
  background-image:url('/images/pantera.jpg');
  background-size:cover;
  margin:auto;
}
.footer_boundary2{
  height:50px;
  width:50px;
  background-color:#eee;
  border-radius:100%;
  background-image:url('/images/jayce.jpg');
  background-size:cover;
  margin:auto;
}
.footer_boundary3{
  height:50px;
  width:50px;
  background-color:#eee;
  border-radius:100%;
  background-image:url('/images/chainmonster.jpg');
  background-size:cover;
  margin:auto;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  height:100%;
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  
}


.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}

.twitter_icon{
  text-align:center;
  margin:auto;
}

.modal_text {
  color:black;
}

.modal_dialog{
  width:80%;
  height:50%;
  border-radius:10px;
}

.container_pantera{
  width:30%;
  height:100%;
  background-color:#eee;
  border-radius:5px;
  text-align:center;
}