.Navbar{
  display:flex;
  position:fixed;
  background-color:#161E67;
  color:#eee;
  height:10vh;
  width:100%;
  align-items:center;
}
.Navbar_content{
  display:flex;
  justify-content:space-between;
  text-decoration:none;
}

.Navbar_contents{
  display:block;
  list-style:none;
}
.table_row tr{
  justify-content:center;
  align-items:center;
}

.img_box {
  width:100%;
  height:100%;
}

.Footer{
  position:fixed;
  height:10vh;
  width:100%;
  background-color:#161E67;
}

.img_container{
  width:100px;
  height:100px;
}

.img_main{
  object-fit:cover;
  width:50px;
  height:50px;
}

.img_box{
  width:50px;
  height:50px;
}
.img_content{
  object-fit:cover;
  width:100%;
  height:100%;
}

.container {
  padding: 0 2rem;
  background-color:#0f0a31;
  color:#eee;
  transition:all 0.5s
}

.table_container{
  background-color:#eee;
  background-color:rgba(255,255,255,0.1);
  border-radius:10px;
  margin-top:5%;
  margin-left:5%;
  margin-right:5%;
  padding:20px;
  box-shadow:1px 1px 1px 1px #eee;
}
.table_header{
  text-align:center;
  font-size:32px;
}
.spinner{
  width:50%;
  height:50%;
  margin:auto;
  justify-content:center;
}

.modal{
  position:fixed;
  width:100%;
  height:100%;
  z-index:10;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}

.twitter_icon{
  text-align:center;
  margin:auto;
}